ol, ul,html,body{
    margin: 0;
    padding:0;
}
*{
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
  
}
*::selection{
    color: #fff;
    background: #57cbcc;
}
a{

    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}

/* ========>HEADER<======== */
.header{
    display: initial;
   
}
.header-main{
  
    height: 100vh;
    background-image: url(../img/hero-area.jpg);
    background-size: cover;
    background-blend-mode: color-burn;
    background-color: #00000099;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


.header-main-container{

display: flex;
    
    align-items: center;
    flex-direction: column;
}

.header-main-container h2{

    font-weight: 700;
    font-size: 6rem;
    margin: 16px 0;
 
   
}
.header-main-container p{

    width: 70%;
    text-align: center;
    font-size: 20px;
    line-height: 1.8;
}

.header-main-container .explore{

    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 19px 61px;
    font-size: 21px;
    font-weight: 700;
    transition: all 0.5s;
    
}

.header-main-container .explore:hover{

   background-color: #57cbcc;
}
.header-main .play{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: white;
    color:#57cbcc;
    width: 74px;
    height: 74px;
    font-size: 24px;
    text-decoration: none;
    
    
}


.nav{
   display: flex;
    height: 80px;
    background-color: #333;
    
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 99;
}


.nav-menu {
    display: flex;
    flex-direction: row;
    margin-right: 73px;
   
}
.nav-menu li {
   margin:20px;
}

.nav-menu li a{
    font-size: 18px;
    color: #737f8a;
    transition: all 0.5s;
    position: sticky;
}

.nav-menu li a:hover{
    color:#57cbcc;
}



.nav .logo{
    margin-left: 97px;

}

/* =====================>MAIN<====================== */
/* ----------------Section-1------------ */
.section-1{
height: 900px;
background-color: #353b43;
}

.aboutus{
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.aboutus h2{
 
    position: relative;   

}



.aboutus h2::before{
    content: '';
    background-color: #57cbcc;
    left: 85px;
    top: 71px;
    position: absolute;
    width: 50px;
    height: 6px;
}
.aboutus h2::after{
    content: '';
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    left: -69px;
    top: 74px;
    position: absolute;
    width: 413px;
    height: 6px;



}


.aboutus h2 span{
    color: #57cbcc

}


.container-row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}




.column-design{

    background: #242930;
    height: 541px;
    width: 380px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    border-bottom: 2px solid transparent;
    transition: .5s all;
 

}

.column-design:hover{
    border-bottom: 2px solid #57cbcc;
    transform: translateY(-7px);
   
   
}


.column-icon{
font-size: 90px;
color: #717d88;
}
.column-h3{
    font-weight: 400;
    font-size: 27px;
    color: #afbac4;
}

.column-p{
    color: #737f8a;
    text-align: center;
    line-height: 32px;
}



/* 
------------section-2------------- */

.section-2{
 height: 500px;
 background-color: #242930;
 display: flex;
   flex-direction: row;
}

.info{
    width: 50%;
}
.info img{
height: 500px;
width: 100%;
}

.info-word{
    width: 50%;
    padding: 40px;
}


.info-2-top h2{
    font-weight: 400;
    font-size: 30px;
    color: #afbac4;
}

.info-color-p{
    color: #737f8a;
    font-size: 14px;
    line-height: 1.42857143
}


.bottom-width{
    display: flex;
    flex: row;
    width: 50%;
}
.info-2-bottom{
    display: flex;
    flex-direction: row;
}
.info-icon{
    font-size: 30px;
    color: #57cbcc;
    padding-top: 20px;
    padding-right: 20px;

}

.content h4{
    font-size: 16px;
    font-weight: 600;
}
.content p{
    font-size: 14px;
    line-height: 1.42857143;
}

.info-h4-design{
    color:#afbac4;
}
/* ------------------section-3------- */


.section-3{
background-image: url(../img/bg-1.jpg);
    height: 400px;
    background-size: cover;
    background-repeat:no-repeat ;
    background-attachment: fixed;

  
}


.section-3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-container{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-3-container h2{

    font-weight: 700;
    color: #444;
    font-size: 30px;
}
.section-3-container p{
    font-size: 16px;
    color: #666;
    width: 55%;
    text-align: center;
    line-height: 27px;
}
.section-3-container .start-btn{

    background-color: #57cbcc;
    color: white;
    padding: 16px 70px;
    font-size: 15px;
    transition: all .5s;

}



.section-3-container .start-btn:hover{
   background-color: #2c9091; 
}




/* ----------section-4---------------- */

.section-4 {
    background-color: #353b43;
    height: 1200px;
    padding:40px;
   
}




    .section-4-container{
   
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   padding: 70px;
}


.section-box{
    height: 400px;
    width: 432px;
    border-left: 1px solid rgba(236, 239, 241, 0.07);
    border-top: 1px solid rgba(236, 239, 241, 0.07);
    margin-bottom: 40px;
    box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3), 13px 13px 0 rgba(255, 255, 255, 0.7);
    display: inline-block;
}

.ourservices{
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.ourservices h2{
 
    position: relative;   

}



.ourservices h2::before{
    content: '';
    background-color: #57cbcc;
    left: 85px;
    top: 71px;
    position: absolute;
    width: 50px;
    height: 6px;
}
.ourservices h2::after{
    content: '';
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    left: -69px;
    top: 74px;
    position: absolute;
    width: 413px;
    height: 6px;



}


.ourservices h2 span{
    color: #57cbcc

}
.section-box{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-box .fas{
    color: #737f8a;
    font-size: 55px;
}

.section-box h3{

    font-weight: 400;
    font-size: 24px;
    color: #afbac4;
}
.section-box p{
    text-align: center;
    color: #737f8a;
}



/* 
------section-5---------------------------- */


.section-5{
    background-color: #252b31;
    height: 650px;
    padding:12px;
    
}

.section-5-container{
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    justify-content: space-around;
    

}

.container-left{

width: 50%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.ourskills{
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.ourskills h2{
 
    position: relative;   

}



.ourskills h2::before{
    content: '';
    background-color: #57cbcc;
    left: 85px;
    top: 71px;
    position: absolute;
    width: 50px;
    height: 6px;
}
.ourskills h2::after{
    content: '';
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    left: -69px;
    top: 74px;
    position: absolute;
    width: 413px;
    height: 6px;



}


.ourskills h2 span{
    color: #57cbcc

}



.container-left{

    display: flex;
    flex-direction: column;
}

.container-left h2  {


    font-weight: 400;
    font-family: "Quattrocento Sans", sans-serif;
    color: #afbac4;
     font-size: 30px;
     width: 90%
}


.container-left p{
    font-size: 17px;
    line-height: 31px;
    color: #6b7c88;
    width: 90%
}

.container-left img{
    width: 70%;
}


.container-right{
    width: 50%;
    display: flex;
   justify-content: start;
}
.static p span{
    font-style: italic;
    font-size: 30px;
    color: rgba(187, 187, 187, 0.34);
    display: inline-block;
    vertical-align: middle;
}

.static p{
    font-size: 26px;
    color:#737f8a;
}
.static>.line-blue>p{
    position: relative;
}
.static>.line-blue>p::before{
    content: '';
    top: 41px;
    left: 2px;
    width: 496px;
    height: 9px;
    background-color: #57cbcc;
    position: absolute;
}

.static>.line-white>p::after{
    content: '';
    top: 41px;
    left: 325px;
    width: 302px;
    height: 9px;
    background-color: white;
    position: absolute;
}



/* 
___________section-6_________________ */
.section-6{
   background-color: #252b31;
    height: 1250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-6-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.images-container{
    display: flex;
    justify-content: center;
}
.img-container img{

    height: 300px;
    position: relative;
}


.img-container {
 display: grid;
 grid-template: 331px 326px 319px/ 425px 425px 425px;

}


.ourworks{
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.ourworks h2{
 
    position: relative;   

}



.ourworks h2::before{
    content: '';
    background-color: #57cbcc;
    left: 85px;
    top: 71px;
    position: absolute;
    width: 50px;
    height: 6px;
}
.ourworks h2::after{
    content: '';
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    left: -69px;
    top: 74px;
    position: absolute;
    width: 413px;
    height: 6px;



}


.ourworks h2 span{
    color: #57cbcc

}

.button{

    outline: none;
    border: 1px solid rgba(236, 239, 241, 0.07);
    background: transparent;
    display: inline-block;
    font-size: 20px;
    padding: 6px 20px;
    font-weight: 700;
    color: #737f8a;
    transition: .3s all;
    margin: 25px 0;
}
.button:hover{
    border: 1px solid #57cbcc;
    color: #57cbcc;
}

/* _______________section-7_____________________ */


.section-7{

    height: 500px;
    background-image: url(../img/bg-1.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-7-container{
display: grid;
grid-template-columns: 372px 372px 372px 372px;

}

.section-7-box{
   width: 350px;
   height: 200px;
   background-color: #292F36;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}
.section-7-box p {

    font-size: 25px;
    font-weight: 400;
    font-family: "Quattrocento Sans", sans-serif;
    color: #afbac4;
}
.section-7-box span{
    font-weight: bold;
    font-size: 35px;
    line-height: 50px;
    color:#737f8a;
    padding-top: 14px;
}

.section-7-box i{
    font-size: 40px;
    color:#737f8a;
}


/* 
__________________section-8_______________ */



.section-8-all{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-8-conatiner{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px;
}

.section-8{

    height: 1000px;
    background-color:#353b43;
}

.section-8-box{

    background-color: #292f36;
    height: 559px;
    width: 325px;
  
}

.img-box img{
    height: 300;
    width: 325px;
    transition: .3s;
    
}
.img-box img:hover{
   transform: scale(1.05);
}

.x-info{
    display: flex;
    flex-direction: column;
    padding: 0px 18px;
}


.x-info h4{

    font-weight: 400;
    font-family: "Quattrocento Sans", sans-serif;
    color: #afbac4;
    font-size: 18px;
}

.x-info span{
    font-size: 14px;
    color: #626d7c;
}

.x-info p{
 
    color: #626d7c;
    width: 89%;
    line-height: 29px;
}

.ourteam{
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.ourteam h2{
 
    position: relative;   

}



.ourteam h2::before{
    content: '';
    background-color: #57cbcc;
    left: 85px;
    top: 71px;
    position: absolute;
    width: 50px;
    height: 6px;
}
.ourteam h2::after{
    content: '';
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    left: -69px;
    top: 74px;
    position: absolute;
    width: 413px;
    height: 6px;



}


.ourteam h2 span{
    color: #57cbcc

}



/* ____________section-9_______________ */

.ourgreatestplans{
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.ourgreatestplans h2{
 
    position: relative;   

}



.ourgreatestplans h2::before{
    content: '';
    background-color: #57cbcc;
    left: 223px;
    top: 69px;
    position: absolute;
    width: 67px;
    height: 8px;
}

.ourgreatestplans h2::after{
    content: '';
    border-top: 3px solid rgba(236, 239, 241, 0.07);
    left: -47px;
    top: 72px;
    position: absolute;
    width: 629px;
    height: 6px;



}


.ourgreatestplans h2 span{
    color: #57cbcc

}

.section-9{

    background-color: #353b43;
    height: 900px;
}

.section-9-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.box-top{

    height: 200px;
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #292F36;
     

}


.section-9-box{
    width: 293px;
    border: 1px solid rgba(236, 239, 241, 0.07);
    
}
.box-top h3{

    color: #57cbcc;
    margin: 0 0 10px;
    font-size: 24px;
}
.box-top strong{
    color: #57cbcc;
    font-size: 30px;
    font-weight: 700
}
.box-top p{
    font-size: 18px;
    font-weight: 400;
    color: #737f8a;
}


.box-middle ul{

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-middle li{
    color: #737f8a;
   
  
    
}

.li-grey{

    padding:15px 0;
}


.li-black-3{
    background-color: #292F36;;
    padding:15px 84px 15px 60px;
}

.li-black-2{
    background-color: #292F36;;
   padding: 15px 84px 15px 101px;
}

.li-black-1{
    background-color: #292F36;;
    padding:15px 86px 15px 61px;
}


.box-bottom{

    background-color:none;
    height: 150px;
    width: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-signup a{
    border: 1px solid #4e595f;
    background-color: transparent;
    color: #fff;
    padding: 10px 30px;
    border-radius: 0;
    transition: .3s all;
}
.btn-signup a:hover{
    background-color: #57cbcc;
    border: 1px solid transparent;
    color: #fff

}

/* _____________section-10_______________ */

.section-10{

    background-image: url(../img/bg-2.jpg);
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color-burn;
    background-color:#8a8a8ab3; 
    display: flex;
   justify-content: center;
   align-items: center;
}



.section-10-box{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
}
.section-10-box img{

    border-radius: 50%;
    width: 200px;
  
}


.section-10-box span{

    color: #737f8a
}
.section-10-box h3{
    font-weight: 400;
    color: #afbac4;
    font-size: 24px;
}


.section-10-box p{

    color: #afbac4;
    font-size: 18px;
    width: 36%;
}
/* ___________section-11_______________________  */


.section-11{
    background-color: #353b43;
    height:1200px;
}


.section-11-container{
    display: flex;
    justify-content: space-evenly;
}


.latestposts{
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.latestposts h2{
 
    position: relative;   

}



.latestposts h2::before{
    content: '';
    background-color: #57cbcc;
    left: 85px;
    top: 71px;
    position: absolute;
    width: 50px;
    height: 6px;
}
.latestposts h2::after{
    content: '';
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    left: -69px;
    top: 74px;
    position: absolute;
    width: 413px;
    height: 6px;



}


.latestposts h2 span{
    color: #57cbcc

}




.section-11-box{


    background-color: #292f36;
    height: 540px;
    width: 450px;
}

.section-11-box img{
    width: 450px;
}

.section-11-box h3{

    font-size: 20px;
    line-height: 1.5;
   
}


.section-11-box  a{
    color: white;
    transition: all .4s;
}

.section-11-box a:hover{
    color: #57cbcc;
}

.section-11-box p{
    color: #737f8a;
    font-size: 16px;
    line-height: 25px;
    width: 102%;
    padding: 9px 0;
}

.section-11-box .readmore{
    background-color: transparent;
    color: #fff;
    padding: 14px 33px;
    border: 1px solid #4e595f;
    transition: all .5s;
}

.section-11-box .readmore:hover{
    border: 1px solid transparent;
    background-color: #57cbcc;
    color: white;
}
.box-padding{


    padding: 2px 16px;
}

.for-view-btn{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
}
.view-btn a{
    background: #57cbcc;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 20px 30px;
    text-transform: uppercase;
    transition: all .4s;
}


.view-btn a:hover{
    background: #2c9091;
}


/* ___________Section-12________________ */



.getintouch{
    font-weight: 700;
    font-size: 38px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
 }


.getintouch h2{
 
    position: relative;   

}



.getintouch h2::before{
    content: '';
    background-color: #57cbcc;
    left: 85px;
    top: 71px;
    position: absolute;
    width: 50px;
    height: 6px;
}
.getintouch h2::after{
    content: '';
    border-top: 2px solid rgba(236, 239, 241, 0.07);
    left: -69px;
    top: 74px;
    position: absolute;
    width: 413px;
    height: 6px;



}


.getintouch h2 span{
    color: #57cbcc

}






.section-12dflex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 30px;
    
}




.section-12{
    background-color: #292f36;
    height: 900px;
  
     

}

.section-12-left{   

    width: 50%;
}

.section-12-left-container{

color:#6c7685;

}

.section-12-left-container h3{
    font-weight: 400;
    font-family: "Quattrocento Sans", sans-serif;
    color: #afbac4;
    font-size: 24px;
}
.section-12-left-container p{

    margin: 0 0 56px 0;
}
.contact-details{
    padding:10px 0;
}

.contact-details i {


padding: 5px;
}

 .section-12-right{

display: grid;
grid-template-rows: 90px 90px 90px 260px;
    width: 50%;
    
}




.form-control{

    background-color: transparent;
    border: 1px solid rgba(236, 239, 241, 0.07);
    height: 62px;
    width: 570px;
    padding: 8px;
    color:#ddd;
    transition: all .3s;

    
}



.form-control:hover{
    border-color: #57cbcc;
}


.submit{
    border: 1px solid rgba(236, 239, 241, 0.07);
    background: #57cbcc;
    padding: 18px 0;
   width: 70.1%;
    color: white;
}




/* ==================>FOOTER<======================== */


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    
    .footer-info-container{
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer{
        height:500px;
        background-color:#353b43;
    }
    
    
    .link-box{
        font-size: 40px;
        border: 1px solid transparent;
        height: 90px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        color:#343940;
        background-color: #26292e;
        
        
       transition: all .5s; 
    }
    
     .link-box:hover{
       background-color:  #57cbcc;
       color: white;
       
        transform: rotateY(180deg);
    
        -webkit-transform: rotateY(180deg);
      
     
    
     }
    
    
    
    .footer-social-links {
      
    display: grid;
    grid-template-columns: 110px 110px 110px 110px 110px;
    
    }
    .footer-p{
    color: #fff;
    text-align: center;
    }
    
        
    .footer-logo{
       margin: 85px 0 26px 0;
    }
   